//color

//background-color
//primary-color
.bg-primary-100{
    background-color: $clr-primary-100;
}
.bg-primary-200{
    background-color: $clr-primary-200;
}
.bg-primary-300{
    background-color: $clr-primary-300;
}
.bg-primary-400{
    background-color: $clr-primary-400;
}
.bg-primary-500{
    background-color: $clr-primary-500;
}
.bg-primary-600{
    background-color: $clr-primary-600;
}
.bg-primary-700{
    background-color: $clr-primary-700;
}
.bg-primary-800{
    background-color: $clr-primary-800;
}
.bg-primary-900{
    background-color: $clr-primary-900;
}
//accents
.bg-accents-green{
    background-color: $clr-accents-green;
}

//text-color
.text-primary-100{
    color:$clr-primary-100;
}
.text-primary-200{
    color:$clr-primary-200;
}
.text-primary-300{
    color:$clr-primary-300;
}
.text-primary-400{
    color:$clr-primary-400;
}
.text-primary-500{
    color:$clr-primary-500;
}
.text-primary-600{
    color:$clr-primary-600;
}
.text-primary-700{
    color:$clr-primary-700;
}
.text-primary-800{
    color:$clr-primary-800;
}
.text-primary-900{
    color:$clr-primary-900;
}
.text-accents-green{
    color:$clr-accents-green;
}