//color
//primary
$clr-primary-100:#ABDDF5;
$clr-primary-200:#87CEF1;
$clr-primary-300:#62BFEC;
$clr-primary-400:#3EB0E8;
$clr-primary-500:#1BA1E2;
$clr-primary-600:#1684B9;
$clr-primary-700:#116790;
$clr-primary-800:#0C4967;
$clr-primary-900:#072C3E;

//accents
$clr-accents-green:#60A917;